Welcome to Jim's FIZZBUZ page
<br>
<br>
At what number would you like to start the fizbuzz app?

<form method="post" action="fizz_buzz_out">
	<input type="integer" name="start">
	<br><br>

At what number would you like to stop the fizbuzz app?
<br><br>
	<input type="integer" name="start">
	<br><br>
	<input type="submit">
</form>	
